<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
    <connectionStrings>
        <!--
        <add name="CodeGen"
        connectionString="server=server-db\sql14;database=Ecos;uid=AppUserEcos;pwd=AppUserEcos;MultipleActiveResultSets=True;"
        providerName="System.Data.SqlClient" />
        -->
        <add name="App.SqlServer" connectionString="server=Server-DB01\SQL16;database=DbDemo;uid=AppUserDbDemo;pwd=AppUserDbDemo;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
        <add name="App.Sybase" connectionString="server=Server-DB01;database=DbDemo;port=9171;uid=AppUserDbDemo;pwd=AppUserDbDemo;" providerName="Sybase.Data.AseClient"/>
        <add name="App.Oracle" connectionString="server=Server-DB01;database=DbDemo;uid=AppUserDbDemo;pwd=AppUserDbDemo1;" providerName="Oracle.ManagedDataAccess.Client"/>
    </connectionStrings>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Sybase.Data.AseClient"/>
            <add name="Sybase Adaptive Server Enterprise Data Provider" invariant="Sybase.Data.AseClient" description=".NET Framework Data Provider for Sybase Adaptive Server Enterprise" type="Sybase.Data.AseClient.AseClientFactory, Sybase.AdoNet45.AseClient, Version=16.0.2.3, Culture=neutral, PublicKeyToken=95d94fac46c88e1e"/>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
    </system.data>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no"/>
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
                <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Dahl.Core.Data" publicKeyToken="dbd927a37189b739" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-1.0.15.150" newVersion="1.0.15.150"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Dahl.Extensions" publicKeyToken="189312674c2b856a" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-1.1.17.239" newVersion="1.1.17.239"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <oracle.manageddataaccess.client>
        <version source="*">
            <dataSources>
                <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
            </dataSources>
        </version>
    </oracle.manageddataaccess.client>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
